<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        <div id="display">
            <table id="tabs" align="center">
                {% block content %}
                {% if classes %}
                    <th>Course Name</th>
                    <th>Teacher</th>
                    <th>Time</th>
                    <th>Students Enrolled</th>
                    {% for i in range(classes|length) %}
                        <tr>
                            <td>{{classes[i]}}</td>
                            <td>{{teachers[i]}}</td>
                            <td>{{times[i]}}</td>
                             <td>{{enrolled[i]}}/{{cap[i]}}</td>
                        </tr>
                    {% endfor %}
                </table>
                {% else %}

                {% endif %}
            {% endblock content%}

        </div>
    </h1>
</body>
</html>